<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Artyści i koncerty</title>
    <link rel ="stylesheet" href="../../css/style.css"/>
    <script type="application/javascript" src="../public/JS/validationCommon.js"></script>
</head>
<body>
    <header>
        <h1>Artyści i koncerty</h1>
        <img src="../../Images/logo.png" alt="Artysci i koncerty logo">
    </header>
<nav>
    <ul>
        <li><a href ="index.html" class="active">Strona główna</a></li>
        <li><a href ="Pages/Artist/list.html">Artysta</a></li>
        <li><a href ="Pages/Concert/list.html">Koncert</a></li>
        <li><a href ="Pages/ArtistOnConcert/list.html">Kto występował</a></li>
    </ul>
</nav>
    <main>
        <h2>Strona główna</h2>
        <p>Szukaj artystów, koncertów i sprawdź kto gdzie grał koncert</p>
    </main>
    <footer>
        Jakub Wudarski, s23291
    </footer>
</body>
</html>