<%- include('./fragments/header.ejs') %>

    <main>
        <h2>Strona główna</h2>
        <p>Szukaj artystów, koncertów i sprawdź kto gdzie grał koncert</p>
    </main>

<%- include('./fragments/footer.ejs') %>