<%- include('../../fragments/header.ejs') %>
    <main>
      <h2>Nowy koncert</h2>
      <form class="form">
        <label for="Venue">Lokalizacja: <span class="symbol-required">*</span></label>
        <input type="text" name="Venue" id="Venue" class="error-input" required>
        <span id="errorVenue" class="errors-text">Pole jest wymagane</span>
        <label for="StartDate">Data początkowa: <span class="symbol-required">*</span></label>
        <input type="date" name="StartDate" id="StartDate" class="error-input" required>
        <span id="errorStartDate" class="errors-text">Pole jest wymagane</span>
        <label for="FinishDate">Data końca: <span class="symbol-required">*</span></label>
        <input type="date" name="FinishDate" id="FinishDate" class="error-input">
        <span id="errorFinishDate" class="errors-text">Pole jest wymagane</span>
      </form>
      <div class="form-buttons">
        <p id="errorsSummary" class="errors-text">Formularz zawiera błędy</p>
        <input type="submit" class="button-add" value="Dodaj">
        <a href="../../index.html" class="form-button-cancel">Anuluj</a>
      </div>
    </main>
<%- include('../../fragments/footer.ejs') %>