<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Edytuj koncert</h2>
            <form class="form">
                <label for="Venue">Lokalizacja: <span class="symbol-required">*</span></label>
                <input type="text" name="Venue" value="Smolna" id="Venue" required>
                <span class="emptySpan"></span>
                <label for="StartDate">Data początkowa: <span class="symbol-required">*</span></label>
                <input type="date" name="StartDate" value="2022-10-20" id="StartDate" required>
                <span class="emptySpan"></span>
                <label for="FinishDate">Data końca: <span class="symbol-required">*</span></label>
                <input type="date" name="FinishDate" value="2022-10-20" id="FinishDate" required>
            </form>
            <div class="form-buttons">
                <p>
                    <input type="submit" class="button-add" value="Dodaj">
                    <a href="list.html" class="form-button-cancel">Anuluj</a>
                </p>
            </div>
        </main>
<%- include('../../fragments/footer.ejs') %>