<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista koncertów</h2>
        <p>Brak koncertów do wyświetlenia</p>
        <p><a href="form.html" class="button-add">Dodaj nowy koncert</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>