<%- include('./fragments/header.ejs') %>
        <main>
            <h2>Lista artystów</h2>
            <p>Brak artystów do wyświetlenia</p>
            <p><a href="form.html" class="button-add">Dodaj nowego artystę</a></p>
        </main>
<%- include('../../fragments/footer.ejs') %>
