<%- include('./fragments/header.ejs') %>
<main>
  <h2>Nowy występ</h2>
  <form class="form">

    <label for="Artist">Artysta: <span class="symbol-required">*</span></label>
    <select name="Artist" id="Artist" class="error-input">
      <option selected>Wybierz artystę</option>
      <option>Kuba Wudarski</option>
      <option>Hotel Plaza</option>
      <option>Marek W</option>
      <option >Arek</option>
    </select>
    <span id="errorArtist" class="errors-text">Pole jest wymagane</span>

    <label for="Venue">Lokalizacja: <span class="symbol-required">*</span></label>
    <select name="Venue" id="Venue" class="error-input">
      <option selected>Wybierz gdzie jest koncert</option>
      <option>Smolna</option>
      <option>Jasna 1</option>
      <option>Firleje Camp Festiwal</option>
    </select>
    <span id="errorVenue" class="errors-text">Pole jest wymagane</span>

    <label for="Duration">Ile trwa występ:</label>
    <input type="number" name="Duration" id="Duration" class="error-input">
    <span id="errorDuration" class="errors-text">To musi być liczba</span>

    <label for="PerformanceId">Który to występ: <span class="symbol-required">*</span></label>
    <input type="number" class="error-input" name="PerformanceId" id="PerformanceId">
    <span id="errorPerformanceId" class="errors-text">Pole jest wymagane</span>

  </form>
  <div class="form-buttons">
    <p id="errorsSummary" class="errors-text">Popraw błędy w formularzu</p>
    <input type="submit" class="button-add" value="Dodaj">
    <a href="list.html" class="form-button-cancel">Anuluj</a>
  </div>
</main>
  <%- include('./fragments/footer.ejs') %>