<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <title>Artyści i koncerty</title>
        <link rel ="stylesheet" href="../../css/style.css"/>
        <script type="application/javascript" src="../../../public/JS/validationCommon.js"></script>
    </head>
    <body>
        <header>
            <h1>Artyści i koncerty</h1>
            <img src="../../../public/Images/logo.png" alt="Artysci i koncerty logo">
        </header>
        <nav>
            <ul>
                <li><a href ="../../index.html">Strona główna</a></li>
                <li><a href ="../Artist/list.html">Artysta</a></li>
                <li><a href ="../Concert/list.html">Koncert</a></li>
                <li><a href ="list-empty.html" class="active">Kto występował</a></li>
            </ul>
        </nav>
        <main>
            <h2>Lista artystów na koncertach</h2>
            <p>Nie ma nic do wyświetlenia</p>

            <p><a href="../Concert/form.html" class="button-add">Dodaj nowey koncert</a></p>
        </main>
        <footer>
            Jakub Wudarski, s23291
        </footer>
    </body>
</html>