<%- include('../../fragments/header.ejs') %>
        <main>
            <h2>Lista artystów na koncertach</h2>
            <p>Nie ma nic do wyświetlenia</p>

            <p><a href="../Concert/form.html" class="button-add">Dodaj nowey koncert</a></p>
        </main>
<%- include('../../fragments/footer.ejs') %>